body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	background-image: url(images/hs-texture-bg.jpg);
	background-size: cover;
	width: 200px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#card-name {
	margin: 0 0 8px 0;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
}

#card-img {
	width: 90%;
	max-height: 295px;
	object-fit: contain;
}
